/* Apply styles to the ListView */
.LVcmd{
    -fx-control-inner-background: #ffffff; /* Violet pastel */
    -fx-text-fill: black; /* Texte en noir */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-font-family: "normal"; /* Police */
    -fx-padding: 5px; /* Espacement interne */
    -fx-background-radius: 5px; /* Bord arrondi */
    -fx-border-radius: 5px; /* Bord arrondi */
    -fx-border-color: transparent; /* Couleur de la bordure transparente */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 0); /* Effet d'ombre */
}

/* Styling the ListView cells */
.list-cell:selected {
    -fx-background-color: #b19cd9; /* Violet pastel */
    -fx-font-weight: bold; /* Texte en gras */
    -fx-text-fill: black; /* Texte en noir */
}
.button {
    -fx-background-color: linear-gradient(to bottom, #e4d1f8, rgba(153, 172, 231, 0.99)); /* Gradient from light green to dark green */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: rgba(132, 139, 219, 0.99);
    -fx-border-width: 1px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #d4bce8, #e4d1f8); /* Darken gradient on hover */
    -fx-border-color: #a04386; /* Darken border on hover */
    -fx-text-fill: #fff; /* Change text color to white on hover */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 2, 2, 0, 0); /* Add drop shadow on hover */
}
/* style.css */

/* style.css */

.root {
    -fx-background-color: #d8acef; /* Set the background color of the AnchorPane */
}

.label {
    -fx-font-size: 18px; /* Set font size for labels */
}

.text-field,
.text-area {
    -fx-font-size: 14px; /* Set font size for text fields and text areas */
}

.button {
    -fx-font-size: 16px; /* Set font size for buttons */
}

#attachFileButton {
    -fx-background-color: rgba(183, 146, 190, 0.89); /* Set background color for the attachFileButton */
    -fx-text-fill: white; /* Set text color for the attachFileButton */
}
/* Styling the ListView */
.list-view {
    -fx-control-inner-background: #ffffff; /* Violet pastel */
    -fx-text-fill: black; /* Texte en noir */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-font-family: "normal"; /* Police */
    -fx-padding: 5px; /* Espacement interne */
    -fx-background-radius: 5px; /* Bord arrondi */
    -fx-border-radius: 5px; /* Bord arrondi */
    -fx-border-color: transparent; /* Couleur de la bordure transparente */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 0); /* Effet d'ombre */
}

/* Styling the ListView cells */
.list-cell:selected {
    -fx-background-color: #b19cd9; /* Violet pastel */
    -fx-font-weight: bold; /* Texte en gras */
    -fx-text-fill: black; /* Texte en noir */
}

/* Styling the buttons */
.button {
    -fx-padding: 10px 20px;
    -fx-text-fill: black; /* Texte en noir */
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 0); /* Effet d'ombre */
}

.button:hover {
    -fx-background-color: #b19cd9; /* Violet pastel plus foncé au survol */
}


.list-cell:hover {
    -fx-background-color: #937bb0; /* Violet pastel plus foncé au survol */
}

/* Apply background color to the VBox */
/* Styling the ListView */
.list-view {
    -fx-control-inner-background: #ffffff; /* Violet pastel */
    -fx-text-fill: black; /* Texte en noir */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-font-family: "normal"; /* Police */
    -fx-padding: 5px; /* Espacement interne */
    -fx-background-radius: 5px; /* Bord arrondi */
    -fx-border-radius: 5px; /* Bord arrondi */
    -fx-border-color: transparent; /* Couleur de la bordure transparente */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 0); /* Effet d'ombre */
}

/* Styling the ListView cells */
.list-cell:selected {
    -fx-background-color: #b19cd9; /* Violet pastel */
    -fx-font-weight: bold; /* Texte en gras */
    -fx-text-fill: black; /* Texte en noir */
}

/* Styling the buttons */
.button {
    -fx-padding: 10px 20px;
    -fx-text-fill: black; /* Texte en noir */
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 0); /* Effet d'ombre */
}

.button:hover {
    -fx-background-color: #b19cd9; /* Violet pastel plus foncé au survol */
}


.list-cell:hover {
    -fx-background-color: #937bb0; /* Violet pastel plus foncé au survol */
}

/* Apply background color to the VBox */
