/* styles.css */
/* Styling for the scene background */
.root {
    -fx-background-color: linear-gradient(to bottom, #f5efff, rgba(153, 169, 239, 0.99)); /* Gradient from orange to tomato */
}




/* Styling for text fields */
.text-field {
    -fx-font-size: 14px;
    -fx-padding: 8px;
    -fx-background-color: #FFFFFF; /* White background */
    -fx-border-color: #CCCCCC; /* Light gray border */
    -fx-border-width: 1px;
    -fx-border-radius: 5px; /* Rounded corners */
}

/* Text field focus effect */
.text-field:focused {
    -fx-border-color: #9e46b6; /* Teal border when focused */
}



/* Styling for buttons */
.button {
    -fx-background-color: linear-gradient(to bottom, #e4d1f8, rgba(153, 172, 231, 0.99)); /* Gradient from light green to dark green */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: rgba(132, 139, 219, 0.99);
    -fx-border-width: 1px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #d4bce8, #e4d1f8); /* Darken gradient on hover */
    -fx-border-color: #a04386; /* Darken border on hover */
    -fx-text-fill: #fff; /* Change text color to white on hover */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 2, 2, 0, 0); /* Add drop shadow on hover */
}


/* Logo image styling */
.button .graphic {
    -fx-padding: 0 10px; /* Adjust padding for spacing */
}

/* Logo image styling */
.button .graphic > ImageView {
    -fx-fit-width: 16px; /* Adjust the width of the logo image */
    -fx-fit-height: 16px; /* Adjust the height of the logo image */
}



/* Styling for labels */
.label {
    -fx-font-weight: bold;
    -fx-text-fill: #000000; /* Black text color */
    -fx-padding: 5px;  /* Add padding for better spacing */
    -fx-background-radius: 5px;  /* Round the corners */
}

