/* Styling the ListView */
.list-view {
    -fx-control-inner-background: #ffffff; /* Violet pastel */
    -fx-text-fill: black; /* Texte en noir */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-font-family: "normal"; /* Police */
    -fx-padding: 5px; /* Espacement interne */
    -fx-background-radius: 5px; /* Bord arrondi */
    -fx-border-radius: 5px; /* Bord arrondi */
    -fx-border-color: transparent; /* Couleur de la bordure transparente */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 0); /* Effet d'ombre */
}

/* Styling the ListView cells */
.list-cell:selected {
    -fx-background-color: #b19cd9; /* Violet pastel */
    -fx-font-weight: bold; /* Texte en gras */
    -fx-text-fill: black; /* Texte en noir */
}

/* Styling the buttons */
.button {
    -fx-padding: 10px 20px;
    -fx-text-fill: black; /* Texte en noir */
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 0); /* Effet d'ombre */
}

.button:hover {
    -fx-background-color: #b19cd9; /* Violet pastel plus foncé au survol */
}


.list-cell:hover {
    -fx-background-color: #937bb0; /* Violet pastel plus foncé au survol */
}

/* Apply background color to the VBox */
.vbox {
    -fx-background-color: #f0f0f0; /* Choose your desired background color */
}
.hbox {
    -fx-border-style: solid;
    -fx-border-color: #cccccc; /* Couleur de la bordure */
    -fx-border-width: 0 0 1 0; /* Seule la bordure inférieure */
}
/* Style the buttons inside the VBox */
.button {
    -fx-background-color: #ffffff; /* Button background color */
    -fx-text-fill: #333333; /* Button text color */
    -fx-font-size: 14px; /* Button font size */
    -fx-font-family: "Arial"; /* Button font family */
    -fx-padding: 10px 20px; /* Button padding */
    -fx-border-radius: 5px; /* Button border radius */
    -fx-border-color: #cccccc; /* Button border color */
    -fx-border-width: 1px; /* Button border width */
    -fx-cursor: hand; /* Cursor style */
}
.label {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 0); /* Effet d'ombre */
}

.text-field {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 0); /* Effet d'ombre */
}